python-magic
pefile
PrettyTable
pydeep
requests
SQLAlchemy
pycrypto
OleFileIO_PL
olefile
oletools
BeautifulSoup4
bottle
pylzma
pyelftools
bitstring
dnspython
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
pyasn1
M2Crypto

certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
